<div ng-controller='PhotoController'>
	<div id='container2'>
		<div id='side-bar'>
			<h3 class='side-bar'>Rotate</h3>
			<input type='text' ng-model='angle' class='small'>
			<div id='slider'>
				<input class='slider' ng-model="angle"  type="text" id="mySlider1" slider options="options">
			</div>
			<h3>Rotate</h3>
			<p>Use cursor to crop image</p>
			<button class='green' ng-click='save(name)'>Save</button>
			<p class='green'>{{message.update_success}}</p>
			<p class='red'>{{message.update_fail}}</p>
		</div>
		<div id='content'>
			<div id='frame'>
				<img id='full' rotate degrees='angle' ng-src="angular/public/images/{{name}}">
			</div>
			<div id='select-box' class='hide'></div>
		</div>
	</div>
</div>
