<div ng-controller='PhotoController'>
	<div id='container2'>
		<div id='side-bar'>
			<h3 class='side-bar'>Rotate</h3>
			<input type='text' ng-model='angle' class='small'>
			<div id='slider'>
				<input class='slider' ng-model="angle" type="text" id="mySlider1" slider options="options">
			</div>
			<h3>Rotate</h3>
			<p>Use cursor to crop image</p>
			<button class='green' ng-click='save(current_photo)'>Save</button>
			<p id='save-status' class='inline hide'>Saving...</p><img id='update' class='hide' src='angular/public/images/uploading.gif' height=25 width=25>
			<p class='green margin-top'>{{message.update_success}}</p>
			<p class='red margin-top'>{{message.update_fail}}</p>
			<div id='see-edit' ng-show='current_photo.edited == true'>
				<h3>View Edited Photo</h3>
				<button ng-click='isHidden = !isHidden'>See!</button>
			</div>
		</div>
		<div id='content'>
			<div id='frame'>
				<img id='full' ng-init='!isHidden' ng-show='!isHidden' rotate degrees='angle' ng-src="https://s3-us-west-1.amazonaws.com/fastfit/{{name}}">
				<img id='edited-photo' ng-hide='!isHidden' ng-show='current_photo.edited == true' ng-src="https://s3-us-west-1.amazonaws.com/fastfit/{{name}}">
			</div>
			<div id='select-box' class='hide'></div>
		</div>
	</div>
</div>
